<div id="test" class="inline-grid grid-cols-3 " data-id= "test">
      <% @board.games.each do |game| %>

      <%= render(GameComponent.new(game: game)) %>
      
       

       
       <% end %>
       </div>
