<div class="rounded-lg border-black border-2 w-80 h-80 ">
 <div id="room-name"><%= @room.room_name %></div>
 <div class="w-60 h-60 overflow-y-auto bg-red-400" id="chat-area">
 <% @room.messages.each do |m| %>
<%= render MessageComponent.new(message: m) %>
<% end %>


 </div>

 <%=  render 'messages/form', message: Message.new, game_room: @room %>
 </div>