<div class="sticky top-0 w-full bg-gray-300" >
  <% if user_signed_in? %>
    <%= link_to "profile", user_path(current_user) %>
    <%= button_to 'sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'sign in', new_user_session_path %>
  <% end %>
</div>
