 <main>
      <div class="flex justify-center items-center width-screen h-screen" id="board" data-board-id=<%=@board.id%>>
      
      <div class="inline-grid grid-cols-3">
      <% @games.each do |game| %>
      <div id="<%= dom_id(game) %>" class="grid grid-cols-3 game  board" data-game-id=<%=game.id%>  datase>
      <% game.cells.each do |cell| %>
        <%= render(CellComponent.new({cell:cell})) %>
        <% end %>
      </div>

       
       <% end %>
       </div>
       
       </div> 
       
      </div>
      <div class="winning-message" id="gameover">
        <div data-winning-message-text></div>
        <button id="restart">Restart</button>
      </div>
    </main>