 <body>
    <div class="welcome-message">
      <h1>Tic Tac Toe</h1>
      <p>
        Welcome to my simple Tic Tac Toe game pleas select the mode and colour
        scheme
      </p>

      <button id="onePlayer">Two player mode</button
      ><button id="color">Black</button>
    </div>
    <main>
      <div class="board" id="board">
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
      </div>
      <div class="winning-message" id="gameover">
        <div data-winning-message-text></div>
        <button id="restart">Restart</button>
      </div>
    </main>
  </body>
  