/* app/javascript/stylesheets/application.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Add any custom CSS here */
@import "tailwindcss/utilities";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
:root {
  --cell-size: 80px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --game-size: 240px;
  --gamemark-size: calc(var(--game-size) * 0.9);
}
.board {


}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.cell.x,
.cell.circle {
  cursor: not-allowed;
}
.cell.x.color::before,
.cell.x.color::after {
  background-color: blue;
}
.cell.circle.color::before {
  background-color: red;
}
.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover:before,
.board.x .cell:not(.x):not(.circle):hover:after,
.board.circle .cell:not(.x):not(.circle):hover:before {
  background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle)::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 5rem;
  flex-direction: column;
}
.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
.winning-message button:hover {
  background-color: black;
  color: white;
}
.winning-message.show {
  display: flex;
}
.welcome-message {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game.gamemark::before,
.game.gamemark::after,
.board2.gamemark .game:not(.x):not(.circle):hover::before,
.board2.gamemark .game:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.game.gamemark::before,
.board2.gamemark .game:not(.x):not(.circle)::before {
  width: var(--gamemark-size);
  height: var(--gamemark-size);
}
.game.gamemark::before {
  background-color: black;
}
.game.gamemark::after,
.board2.gamemark .game:not(.x):not(.circle):hover::after {
  width: calc(var(--gamemark-size) * 0.7);
  height: calc(var(--gamemark-size) * 0.7);
  background-color: white;
}

.inactive {
  pointer-events: none;
}